html,
body {
    margin: 0;
    min-height: 100vh;

}

/*HEADER*/

.primeira-barra-preta {
    height: 14px;
    width: 100%;
    background-color: #000000;
}

.body-total {
    width: 95%;
    margin: auto;

}

.header-logo {
    position: relative;
    top: 10px;
    width: 8%;
    margin-left: -3px;
}

.header-menu {
    margin: 0;
    padding: 0;
    float: right;
    width: 50%;
    list-style-type: none;
    position: relative;
    top: 45px;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
}

.header-menu li {
    color: #000000;
    float: left;
    width: 20%;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
}

.pesquisa {
    position: absolute;
    width: 2%;
    right: 45px;
    margin-top: 40px;
}

@media screen and (max-width: 1030px) {
    .header-menu {
        top: 40px;
    }

    .header-menu li {
        font-size: 12px;
    }

    .pesquisa {
        margin-top: 35px;
        right: 25px;
    }
}

@media screen and (max-width: 800px) {
    .header-menu {
        top: 35px;
    }

    .header-menu li {
        font-size: 9px;
    }

    .pesquisa {
        width: 3%;
        margin-top: 25px;
    }
}

@media screen and (max-width: 550px) {
    .header-menu {
        top: 22px;
    }

    .header-menu li {
        font-size: 7px;
    }

    .pesquisa {
        width: 3%;
        margin-top: 18px;
        right: 10px;

    }
}

.imagem-principal {
    width: 100%;
    margin-top: 3%;
}

.imagem-principal-1 {
    width: 100%;
}

.quadrados {
    margin-top: 2%;
}

.imagem-linha-secundaria {
    width: 48%;
}

.imagem-linha-secundaria img
{
    width: 100%;
}

.imagem-linha-secundaria-direita {
    width: 48%;
    float: right;
    transform: translateY(-100%);
}

.imagem-linha-secundaria-direita img {
    width: 100%;
}

.new-arrivals{
    float: right;
    margin-right: -80px;
    margin-top: 2%;
}

.new-arrivals span {
    font: bold 30px 'Roboto';
}
kk
